@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full
      text-gray-50 cursor-pointer hover:bg-gray-300;
  }
  .btn {
    @apply bg-orange-450 text-white p-2 rounded-full px-4 
    hover:bg-sky-400 transition-all active:scale-95 shadow-lg 
    hover:shadow-xl;
  }
  .btnCancel {
    @apply border-2 border-orange-500 text-orange-500 p-2 rounded-full px-4 
    hover:bg-orange-500 hover:text-white transition-all active:scale-95 shadow-lg 
    hover:shadow-xl;
  }
  .inpt {
    @apply ml-2 rounded-lg p-2 pl-3 placeholder-gray-900 outline-none bg-blue-100;
  }
  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center 
      p-2 rounded-xl cursor-pointer;
  }
  .headerText {
    @apply text-blue-910 font-semibold font-sans;
  }
  .bodyText {
    @apply text-gray-410 text-sm font-sans;
  }
  .bodyText2 {
    @apply text-orange-400 text-sm;
  }
  .linkText {
    @apply text-blue-550 text-sm;
  }
  .container {
    overflow-y: auto;

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .cls-1 {
    @apply fill-orange-550;
  }
  .cls-2 {
    @apply fill-blue-550;
  }
}
